body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.showcase {
  background-image: url('assets/bg-image.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.showcase h1 {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
}

.button-container {
  margin-top: 20px;
}

.circular-button {
  font-size: 18px;
  color: #FFFFFF; 
  background: rgba(0, 0, 0, 0.5); 
  border: 2px solid #FFD700; 
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circular-button:hover {
  background: rgba(255, 255, 255, 0.1); /* Adjust hover background color as needed */
}
